@import './components/AllSongs/AllSongs.css';
@import './components/SearchResults/SearchResults.css';
@import './components/UserPlaylist/UserPlaylist.css';

* {
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header{
  background-color: #2c2626;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
}